.select-repo-form {
  display: grid;
  justify-content: center;
  margin-top: 5rem;

  &-label {
    display: block;
    margin-bottom: 0.2rem;
    font-weight: 600;
  }

  .clr-page-size-select {
    width: 100%;
  }
}
