.ChartReadme--error {
  flex-direction: column;
  height: 100%;
}

.ChartReadme p {
  margin: 0.625em 0;
}

.ChartReadme pre {
  margin: 0.625em 0;
  border-radius: 5px;
  overflow: auto;
}

.ChartReadme blockquote {
  margin: 0;
  text-align: left;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  padding: 0.1em 1em;
  max-width: 100%;
}

.ChartReadme blockquote:before,
.ChartReadme blockquote:after {
  background-image: none;
}

.ChartReadme tr {
  border-bottom: 1px solid #eee;
}
