<footer>
  <div class="wrapper footer-links">
    <div class="top-links">
      <ul class="left-links">
        <li>
          <a target="_blank" rel="noopener" href="{{ .Site.Params.twitter_url }}"
            title="X. This link will open in a new tab">
            <img class="logo" src="/img/twitter.svg" alt="X logo" />
            X</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="{{ .Site.Params.github_url }}"
            title="GitHub. This link will open in a new tab">
            <img class="logo" src="/img/github.svg" alt="GitHub logo" />
            <span class="desktop">GitHub</span>
            <span class="mobile">GitHub</span>
          </a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="{{ .Site.Params.slack_url }}"
            title="Slack. This link will open in a new tab">
            <img class="logo" src="/img/slack.svg" alt="Slack logo">
            <span class="desktop">Slack</span>
            <span class="mobile">Slack</span>
          </a>
        </li>
      </ul>
      <div class="right-links">
        <p>
          <a target="_blank" rel="noopener" href="/" title="Kubeapps. This link will open in a new tab">
            <img class="footer-logo" src="/img/kubeapps-logo.svg" alt="Kubeapps logo" />
          </a>
        </p>
      </div>
    </div>
    <div class="bottom-links">
      <p>
        <span>
          &copy; {{ now.Year }} the Kubeapps contributors. Apache 2.0 license.
          <a target="_blank" rel="noopener" title="This link will open in a new tab" href="https://github.com/vmware/">
            Project backed by VMware LLC</a>.
        </span>
        <span>
          <a target="_blank" rel="noopener" title="VMware by Broadcom. This link will open in a new tab"
            href="https://github.com/vmware/">
            <img class="footer-logo" src="/img/vmware-broadcom-logo.svg" alt="VMware by Broadcom logo" />
          </a>
        </span>
        <span>
          <a target="_blank" rel="noopener" title="This link will open in a new tab" href="https://www.vmware.com/help/legal.html">Terms of Use</a> |
          <a target="_blank" rel="noopener" title="This link will open in a new tab" href="https://www.vmware.com/help/privacy.html">Privacy Policy</a> |
          <a target="_blank" rel="noopener" title="This link will open in a new tab" href="https://www.vmware.com/help/privacy/california-privacy-rights.html">Your California Privacy Rights</a> |
        </span>
      </p>
    </div>
  </div>
</footer>
