<div class="bg-grey introduction">
  <div class="wrapper grid two">
    <div class="col">
      <p class="strong">About the project</p>
      <p>
        Kubeapps is released as open-source software and provides community
        support through our GitHub project page.If you encounter an issue or
        have a question, feel free to reach out on the
        <a
          target="_blank"
          rel="noopener"
          title="This link will open in a new tab"
          href="{{$.Site.Params.github_base_url}}/issues/new"
        >
          GitHub issues page for Kubeapps</a
        >.
      </p>
    </div>
  </div>
</div>
