<footer class="footer">
  <app-footer-list [title]="'Contribute'">
    <li><a class="reverse" target="_blank" href="https://github.com/kubeapps/dashboard">Github</a></li>
    <li><a class="reverse" target="_blank" href="http://slack.k8s.io/#sig-apps">Slack</a></li>
    <li><a class="reverse" target="_blank" href="https://twitter.com/kubeapps">Twitter</a></li>
  </app-footer-list>
  <app-footer-list [title]="'How to use'">
    <li><a class="reverse" target="_blank" href="https://helm.sh/">What is Helm?</a></li>
    <li><a class="reverse" target="_blank" href="https://github.com/kubernetes/helm#docs">Documentation</a></li>
    <li><a class="reverse" target="_blank" href="https://github.com/kubernetes/helm/wiki">Wiki</a></li>
  </app-footer-list>
  <div class="footer__supporter">
    <div class="footer__supporter__text">
      Made with <img src="/assets/images/hearth.svg" /> by
    </div>
    <a href="https://bitnami.com" target="_blank"><img src="/assets/images/bitnami-logo.png" alt="Bitnami" /></a>
  </div>
</footer>
