// Theme
@import '../../theme.scss';

.footer {
  padding: 2em;
  border-top: 3px solid black;
  background-color: $layout-base;
  color: $layout-light;
  text-align: center;

  &__supporter {
    display: inline-block;
    vertical-align: top;

    &__text {
      padding: 0 1em .5em;
      margin: 0 1em .5em;
      border-bottom: 1px solid lighten($layout-base, 1%);
      box-shadow: 0 3px 3px -2px rgba(black, 0.3);

      a {
        font-weight: bold;
      }

      img {
        width: 1em;
        display: inline-block;
        vertical-align: bottom;
      }
    }
  }
}
