# Basic dependabot.yml file
# https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates#package-ecosystem

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/dashboard"
    schedule:
      interval: "daily"
      time: "00:00"
    open-pull-requests-limit: 2

  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
      time: "01:00"
    open-pull-requests-limit: 2

  - package-ecosystem: "cargo"
    directory: "/cmd/pinniped-proxy"
    schedule:
      interval: "daily"
      time: "02:00"
    open-pull-requests-limit: 2

  - package-ecosystem: "npm"
    directory: "/integration"
    schedule:
      interval: "daily"
      time: "03:00"
    open-pull-requests-limit: 2
