# Copyright 2017-2022 the Kubeapps contributors.
# SPDX-License-Identifier: Apache-2.0

*.*~
telepresence.log
devel/*
integration/reports/*
!integration/reports/.notempty

# OSX
.DS_Store

# IntelliJ
.idea

# VSCode
.vscode

# Dashboard
dashboard/src/locales/
dashboard/public/clr-ui-dark.min.css*
dashboard/public/clr-ui.min.css*
