apiVersion: v1
name: kubeapps
version: 1.3.0
appVersion: DEVEL
description: Kubeapps is a dashboard for your Kubernetes cluster that makes it easy to deploy and manage applications in your cluster using Helm
icon: https://raw.githubusercontent.com/kubeapps/kubeapps/master/docs/img/logo.png
keywords:
- helm
- dashboard
- service catalog
- deployment
home: https://kubeapps.com
sources:
- https://github.com/kubeapps/kubeapps
maintainers:
- name: Bitnami
  email: containers@bitnami.com
- name: prydonius
  email: adnan@bitnami.com
# 2.12+ required because we need helm to be compiled with go 1.11
tillerVersion: ">=2.12.0"
