@import "variables";
@import "mixins";
@import "base";



a.skip-link {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-link:focus,
a.skip-link:active {
  color: #fff;
  background-color: $ocean;
  left: auto;
  top: auto;
  width: 25%;
  height: auto;
  overflow: auto;
  margin: 10px 25%;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}

header {
  .wrapper {
    display: flex;
    min-height: 52px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .kubeapps-header-logo {
    height: 3em;
  }

  .desktop-links {
    padding-left: 0;
  }

  a {
    color: $darkgrey;
    font-family: $metropolis-light;

    &.active {
      font-family: $metropolis-medium;
    }
  }

  li img {
    margin-right: 10px;
    vertical-align: bottom;
  }

  .mobile {
    display: none;
  }

  @include breakpoint(medium) {
    .desktop-links li {
      padding-right: 10px;
    }
  }

  @include breakpoint(small) {
    .expanded-icon {
      display: none;
      padding: 11px 3px 0 0;
    }

    .collapsed-icon {
      padding-top: 12px;
    }

    .mobile-menu-visible {
      .mobile {
        display: block;

        .collapsed-icon {
          display: none;
        }

        .expanded-icon {
          display: block;
        }
      }
    }

    position: relative;

    .desktop-links {
      display: none;
    }

    .mobile {
      display: block;
    }

    button {
      float: right;

      &:focus {
        outline: none;
      }
    }

    ul {
      padding-left: 0;

      li {
        display: block;
        margin: 20px 0;
      }
    }

    .mobile-menu {
      position: absolute;
      z-index: 10;
      top: 70px;
      left: 0;
      display: none;
      width: 100%;
      padding-bottom: 20px;
      background-color: #fff;

      .header-links {
        margin: 0 20px;
      }

      .social {
        padding-top: 20px;
        margin: 0 20px;

        img {
          padding-right: 10px;
          vertical-align: middle;
        }

        a {
          padding-right: 35px;
          font-size: 14px;

          &:last-of-type {
            padding-right: 0;
          }
        }
      }
    }
  }
}
