$blue: #0095D3;
$darkgrey: #333333;
$lightgrey: #F2F2F2;
$darkblue: #002538;
$black: #111111;
$mainblue: #0091DA;
$navyblue: #1D428A;


// Official palette
// https://www.vmware.com/brand/portal/guidelines/color.html
$ocean: #0091da;
$leaf: #78be20;
$indigo: #1d428a;
$purple: #7f35b2;
$aqua: #00c1d5;
$grey: #717074;
$white: #fff;
