$darkgrey: #333;
$lightgrey: #f2f2f2;
$black: #111;

// Official palette
// https://www.vmware.com/brand/portal/guidelines/color.html
$ocean: #0091da;
$leaf: #78be20;
$indigo: #1d428a;
$purple: #7f35b2;
$aqua: #00c1d5;
$grey: #717074;
$white: #fff;
