// Copyright 2019-2022 the Kubeapps contributors.
// SPDX-License-Identifier: Apache-2.0

.description {
  display: block;
  color: var(--cds-global-typography-color-300, #454545);
  font-size: 0.9em;
}

.subsection {
  padding: 10px;
  border: 2px solid var(--cds-alias-object-border-color, #f1f1f1);
  border-radius: 5px;
}

.react-switch {
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.block::before {
  display: inline-block;
  height: 100%;
  content: "";
  vertical-align: middle;
}

.centered {
  display: inline-block;
}

.basic-deployment-form-param {
  padding: 0.6rem 0;
}

.deployment-form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.deployment-form-label {
  margin-bottom: 0.2rem;
  font-weight: 600;

  &-text-param {
    display: block;
  }
}

.deployment-form-text-input {
  min-width: 30vw;
}

.param-separator {
  border: 1px solid var(--cds-alias-object-border-color, #f1f1f1);
}

.slider-block {
  display: flex;

  .slider-input-and-unit {
    margin-left: 0.6rem;
  }

  .slider-content {
    width: 30vw;
    margin-left: 10px;
  }

  .slider-input {
    width: 50%;
  }
}
