.description {
  color: #5f6369;
  font-size: 0.9em;
}

.subsection {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
}

.react-switch {
  vertical-align: middle;
  margin-left: 10px;
}

.disk_size_input {
  width: 75%;
}

.block:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.centered {
  display: inline-block;
}
