// Copyright 2018-2022 the Kubeapps contributors.
// SPDX-License-Identifier: Apache-2.0

#search {
  margin-left: 0.3rem;
  color: var(--cds-global-typography-color-500, #000);
}

#search input::placeholder {
  color: var(--cds-global-typography-color-300, #454545);
}

header .search-box form {
  border-radius: 0.15rem;
  margin-left: 1rem;
}
