.rollback-menu {
  overflow-y: hidden;
  &-text {
    color: var(--cds-global-typography-color-400, #333);
    text-align: center;
  }
  &-label {
    color: var(--cds-global-typography-color-400, #333);
    display: inline-block;
    margin-top: 0.6rem;
  }
  .clr-select-wrapper {
    margin-left: 0.6rem;
  }
  &-buttons {
    margin-top: 0.6rem;
    text-align: center;
    cds-button {
      margin: 0 0.3rem 0 0.3rem;
    }
  }
}
