.confirmation-modal {
  text-align: center;
  overflow-y: hidden;
  span {
    color: var(--cds-global-typography-color-400, #333);
  }
  &-buttons {
    margin-top: 0.6rem;
    cds-button {
      margin: 0 0.6rem 0 0.6rem;
    }
  }
}
