// Copyright 2018-2022 the Kubeapps contributors.
// SPDX-License-Identifier: Apache-2.0

.confirmation-modal {
  overflow-y: hidden;
  text-align: center;

  span {
    color: var(--cds-global-typography-color-400, #333);
  }

  &-buttons {
    margin-top: 0.6rem;

    cds-button {
      margin: 0 0.6rem;
    }
  }
}
