// Copyright 2020-2022 the Kubeapps contributors.
// SPDX-License-Identifier: Apache-2.0

.disabled {
  color: var(--cds-global-typography-color-400, #333);
  cursor: not-allowed;

  &-description {
    margin-top: -0.1rem;
    margin-left: 1rem;
  }
}
