// Copyright 2018-2022 the Kubeapps contributors.
// SPDX-License-Identifier: Apache-2.0

.login {
  &-wrapper {
    width: calc(100vw + 0.6rem);

    .login {
      min-height: calc(100vh - 3rem);

      .login-group {
        padding: 0;
      }

      .error.active {
        font-size: small;
      }
    }
  }

  &-submit-button {
    display: grid;
    padding: 1rem 0 0;
  }

  &-moreinfo {
    display: grid;
    justify-content: end;
    margin-top: 0.5rem;

    svg {
      margin-top: -0.1rem;
    }
  }
}

.title h3 span {
  display: block;
  font-size: xx-large;
}

#login-submit-button {
  display: block;
}

div .login-wrapper .login {
  min-height: 100%;
}
