.CertContainer {
  margin: 0;
  padding: 0;
  margin-left: 0.2em;
  background: inherit;
}

.CertContent {
  // Copied from <code> style
  font-family: "SFMono-Regular", Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 0.8em;
}
