.ApplicationStatus {
  display: inline-block;
  font-size: 1em;
  line-height: 2.5em;
  padding: 0 0.875em;
  background-color: #f1f1f1;
  height: 2.5em;
}

.ApplicationStatusPieChart {
  text-align: center;
  max-width: 100px;
  margin-bottom: -50px;
  a {
    color: unset;
  }
  a:hover {
    text-decoration: none !important;
    color: unset;
  }
  &__title {
    margin-top: 0px;
  }
  &__label {
    position: relative;
    bottom: 80px;
    &__number {
      margin: 0;
      font-size: 1.5em;
    }
    &__text {
      margin: -5px 0 0 0;
    }
  }
  tr {
    line-height: 5px;
  }
}

.ApplicationStatus--success {
  color: #fff;
  background-color: #1598cb;
}

.ApplicationStatus--error {
  color: #fff;
  background-color: #de0606;
}

.ApplicationStatus--pending {
  background-color: #fdba12;
}

.ApplicationStatus--deleted {
  background-color: #fda5a5;
}

.ApplicationStatus--pending > .icon {
  animation: fadeinout 2s linear infinite;
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
