// Copyright 2019-2022 the Kubeapps contributors.
// SPDX-License-Identifier: Apache-2.0

:not([cds-text]).application-status-pie-chart {
  display: flex;
  justify-content: center;
  margin-bottom: -50px;
  text-align: center;

  &-title {
    margin-top: 1.2rem;
    margin-bottom: 0.6rem;
  }

  &-label {
    position: relative;
    bottom: 3.9rem;
  }

  &-number {
    margin: 0;
    font-size: 1.5em;
  }

  &-text {
    margin: -5px 0 0;
  }
}

.application-status-table {
  border-spacing: 1em 0;
  text-align: left;

  th {
    text-transform: uppercase;
  }
}

.status-loading-wrapper {
  min-width: 140px;
}
