<app-header-bar></app-header-bar>
<app-panel class="NotFound">
  <div class="NotFound__Image">
    <img src="/assets/images/404.svg" alt="404 illustration"/>
  </div>
  <h1>
    Sorry, we could't find the page you're looking for.
  </h1>
  <p class="NotFound__Help">
    Maybe, these links can help you :)
  </p>
  <ul class="NotFound__Links">
    <li>
      <a href="/" routerLink="/">Home</a>
    </li>
    <li>
      <a href="/charts" routerLink="/charts">Charts</a>
    </li>
    <li>
      <a href="https://github.com/kubernetes-helm/monocular">Github project</a>
    </li>
    <li>
      <a href="https://github.com/kubernetes-helm/monocular/blob/master/docs/about.md">About</a>
    </li>
  </ul>
</app-panel>
