.angle {
  position: absolute;
  right: 15px;
  top: 1.2rem;
}

.kubeapps-dropdown {
  opacity: 0.75;
  padding-left: 0.5rem;
  &:hover {
    opacity: 1;
    background-color: #25333d;
  }
  &.open {
    opacity: 1;
    background-color: #25333d;
  }
  button {
    color: var(--cds-global-color-gray-50, #fafafa);
  }
}

.kubeapps-dropdown-section {
  text-align: initial;
}

.kubeapps-dropdown-header {
  font-size: small;
}

.kubeapps-dropdown-text {
  margin-left: 0.2rem;
  margin-right: 0.7rem;
  font-weight: 500;
}

.header-actions .dropdown-menu {
  background-color: #25333d;
  width: 15rem;
  border: 0px;
  margin-right: 0px !important;
  .dropdown-menu-padding {
    padding: 0 1rem 0.6rem 1rem;
  }
  .context-selector-header {
    color: var(--cds-global-color-gray-50, #fafafa);
    font-size: small;
    max-width: 100%;
    white-space: normal;
  }

  .clr-select-wrapper {
    display: block;
    .clr-page-size-select {
      color: var(--cds-global-color-gray-50, #fafafa);
      width: 100%;
    }
  }
}

.kubeapps-create-new-ns {
  display: flex;
  justify-content: flex-end;
  cds-button {
    --color: var(--cds-global-color-gray-50, #fafafa);
    outline: 0px;
    margin-top: 1em;
  }
}
