// Copyright 2020-2022 the Kubeapps contributors.
// SPDX-License-Identifier: Apache-2.0

.angle {
  position: absolute;
  top: 1.2rem;
  right: 15px;
}

.kubeapps-dropdown {
  padding-left: 0.5rem;
  opacity: 0.75;

  &:hover {
    background-color: #25333d;
    opacity: 1;
  }

  &.open {
    background-color: #25333d;
    opacity: 1;
  }

  button {
    color: var(--cds-global-color-gray-50, #fafafa);
  }
}

.kubeapps-dropdown-section {
  text-align: initial;
}

.kubeapps-dropdown-header {
  font-size: small;
}

.kubeapps-dropdown-text {
  margin-right: 0.7rem;
  margin-left: 0.2rem;
  font-weight: 500;
}

.header-actions .dropdown-menu {
  width: 15rem;
  border: 0;
  margin-right: 0 !important;
  background-color: #25333d;

  .dropdown-menu-padding {
    padding: 0 1rem 0.6rem;
  }

  .context-selector-header {
    max-width: 100%;
    color: var(--cds-global-color-gray-50, #fafafa);
    font-size: small;
    white-space: normal;
  }

  .clr-select-wrapper {
    display: block;

    .clr-page-size-select {
      width: 100%;
      color: var(--cds-global-color-gray-50, #fafafa);
    }
  }
}

.kubeapps-create-new-ns {
  display: flex;
  justify-content: flex-end;

  cds-button {
    --color: var(--cds-global-color-gray-50, #fafafa);

    margin-top: 1em;
    outline: 0;
  }
}
