.kubeapps__logo {
  max-width: 10em;
}

.kubeapps-nav-link {
  outline: none !important;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.kubeapps-align-center {
  display: flex;
  align-items: center;
}
