.kubeapps__logo {
  max-width: 10em;
}

.kubeapps-nav-link {
  outline: none !important;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.kubeapps-align-center {
  display: flex;
  align-items: center;
}

.header {
  z-index: 1016;
}

.kubeapps-header {
  width: 100%;
  padding: 0 0.6rem 0 0.6rem;
}
