.drawer {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 0;
  left: 0;
}

.kubeapps-menu {
  display: flex;
  opacity: 0.75;
  align-items: center;
  &:hover {
    opacity: 1;
    background-color: #25333d;
  }
  &.open {
    opacity: 1;
    background-color: #25333d;
  }
  button {
    padding: 0 1.5rem 0 1.5rem;
    height: 100%;
  }
}

.drawer-backdrop {
  z-index: 1015;
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--cds-global-color-gray-900, #313131);
  opacity: 0.85;
  height: calc(100vh - 3rem);
}

.dropdown-configuration-menu {
  height: calc(100vh - 3rem);
  z-index: 1017;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dropdown-menu {
  margin-top: 0 !important;
}

.dropdown-menu-label {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  opacity: 0.8;
  color: var(--cds-global-color-gray-50, #fafafa);
  font-weight: 600;
  font-size: 13px;
}

.dropdown-menu-link {
  &:hover {
    text-decoration: none;
  }
}

div .dropdown-menu .dropdown-divider {
  opacity: 0.2;
  border-bottom-color: var(--cds-global-color-gray-50, #fafafa);
}

.dropdown-menu-item {
  margin-left: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: var(--cds-global-color-gray-50, #fafafa);
  padding: 0.2rem 0 0.2rem 0;
  opacity: 0.65;
  img {
    margin-right: 0.5rem;
    max-width: 20px;
  }
  &:hover {
    transform: translateY(-0.1rem);
    transition: border 0.2s ease, transform 0.2s;
    opacity: 1;
  }
}

.logout-button cds-button {
  display: grid;
  width: 100%;
  --color: var(--cds-global-color-gray-50, #fafafa);
  --border-color: var(--cds-global-color-gray-50, #fafafa);
  &:hover {
    --color: var(--cds-global-color-gray-50, #fafafa);
    --border-color: var(--cds-global-color-gray-50, #fafafa);
  }
}

.dropdown-menu-subtext {
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-align: end;
  font-size: smaller;
  & a:link {
    color: var(--cds-global-color-blue-400, #2ec0ff);
  }
  & a:visited {
    color: var(--cds-global-color-blue-400, #2ec0ff);
  }
}

.transition-drawer-enter {
  opacity: 0;
  transform: translateX(15rem);
}
.transition-drawer-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.transition-drawer-exit {
  opacity: 1;
}
.transition-drawer-exit-active {
  opacity: 0;
  transform: translateX(15rem);
  transition: opacity 300ms, transform 300ms;
}

.toggle-label-text {
  color: var(--cds-global-color-gray-50, #fafafa);
}

.dropdown-theme-toggle {
  margin-top: 0.5em;
}
