.card-header {
  .card-title {
    max-width: calc(100% - 24px);
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  img {
    position: absolute;
    max-width: 24px;
    top: 14px;
    right: 1rem;
  }
}

.card-block {
  height: 4.5rem;
  overflow-y: hidden;
  .card-icon {
    display: flex;
    align-items: center;
    text-align: center;
    height: 3.5rem;
    img {
      max-width: 100%;
    }
  }
}

.kubeapps-card-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-x: auto;
  .kubeapps-card-footer-col1 {
    width: 100%;
    margin: 0 0.6rem 0 0.6rem;
  }
  .kubeapps-card-footer-col2 {
    margin: 0 0.5rem 0 0;
  }
}

.card.clickable a {
  text-decoration: none;
  color: black;
}

.footer-tags {
  text-align: right;
}
