.ServiceItem {
  display: inline-block;
  color: #fff;
  border-radius: 16px;
  background-color: #5f6369;
  &--with-link {
    background-color: #1598cb;
    a {
      color: inherit;
    }
    &:hover {
      background-color: #f58220;
      a {
        color: inherit;
      }
    }
  }
}
