.Layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
}

.Layout > main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.Layout > main > .container {
  width: 100%;
}

.Layout > main > .container > .row {
  height: 100%;
  width: 100%;
}
