.empty-catalog {
  text-align: center;
  width: 100%;
  height: calc(100vh - 6rem);
  // margin-top: 2rem;
  cds-icon {
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
  }
  cds-button {
    margin-top: 2rem;
  }
  p {
    margin-top: 0.6rem;
  }
}
