.filters-menu {
  padding-left: 1.2rem;
  h5 {
    text-transform: uppercase;
    font-size: small;
    font-weight: 500;
  }
  .filter-label {
    font-weight: 500;
    margin: 0.3rem 0 0.3rem 0;
  }
}
