.tooltip {
  background: none;
  border: 0;
  padding: 0 0.1rem;

  &-content {
    visibility: hidden !important;
    a:link {
      color: var(--cds-global-color-blue-400, #2ec0ff);
    }
  }
  &-open {
    .tooltip-content {
      visibility: visible !important;
    }
  }
}
