<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
  <!-- OneTrust Cookies Consent Notice and Google Tag Manager -->
  <meta http-equiv="refresh" content="0; url=https://github.com/vmware-tanzu/kubeapps/" />
  <meta content="{{ .Site.Params.oneTrustId }}" name="onetrust-data-domain">
  <meta content="https://tags.tiqcdn.com/utag/vmware/microsites-privacy/prod/utag.js" name="microsites-utag">
  <script defer src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
  <script defer src="https://www.vmware.com/files/templates/inc/utag_data.js"></script>
  <script defer src="https://tags.tiqcdn.com/utag/vmware/microsites-privacy/prod/utag.sync.js"></script>
  <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="{{ .Site.Params.oneTrustId }}"></script>
  <script defer>
    function OptanonWrapper() { { window.dataLayer.push({ event: 'OneTrustGroupsUpdated' }); } }
  </script>
  <script defer>
    function setGTM(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    }

    if (
      document.cookie.indexOf("OptanonConsent") > -1 &&
      document.cookie.indexOf("groups=") > -1
    ) {
      setGTM(window, document, "script", "dataLayer", "{{ .Site.Params.gtmId }}");
    } else {
      waitForOnetrustActiveGroups();
    }
    var timer;
    function waitForOnetrustActiveGroups() {
      if (
        document.cookie.indexOf("OptanonConsent") > -1 &&
        document.cookie.indexOf("groups=") > -1
      ) {
        clearTimeout(timer);
        setGTM(window, document, "script", "dataLayer", "{{ .Site.Params.gtmId }}");
      } else {
        timer = setTimeout(waitForOnetrustActiveGroups, 250);
      }
    }
  </script>
  <!-- OneTrust Cookies Consent Notice and Google Tag Manager end -->

  {{ $title := ""}}
  {{ $permalinkAsTitle := ""}}
  {{ $description := ""}}

  {{ if .Page.RelPermalink }}
    {{ $permalinkAsTitle = (replace (index (last 1 (split (delimit (split .Page.RelPermalink "/") "," "") ",")) 0) "-" " ") | title }}
  {{ end }}

  {{ if .IsSection }}
    {{ if in $permalinkAsTitle "Latest" }}
      {{ $title = "Documentation" }}
      {{ $description = "Kubeapps Documentation" }}
    {{ else }}
        {{ $title = $permalinkAsTitle }}
        {{ if in $permalinkAsTitle "Kubeapps" }}
          {{ $description = $permalinkAsTitle }}
        {{ else }}
          {{ $description = printf "%s %s" "Kubeapps" $permalinkAsTitle }}
        {{ end }}
    {{ end }}
  {{ else if .Title }}
    {{ $title = .Title }}
    {{ if in .Title "Kubeapps" }}
      {{ $title = "Home" }}
      {{ $description = .Site.Params.description }}
    {{ end }}
  {{ else }}
    {{ $title = $permalinkAsTitle }}
    {{ $description = printf "%s %s" "Kubeapps Documentation -" $permalinkAsTitle }}
  {{ end }}

  <title>{{ .Site.Title }} | {{ $title }}</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- begin extra meta tags -->
  <!-- -- lightly modified from https://www.skcript.com/svr/perfect-seo-meta-tags-with-hugo/ -->
  <meta property="og:title" content="{{ $title }}" />
  <meta name="twitter:title" content="{{ $title }}" />
  <meta name="apple-mobile-web-app-title" content="{{ $title }}" />

  <meta itemprop="name" content="{{ .Site.Params.sitename }}" />
  <meta name="application-name" content="{{ .Site.Params.sitename }}" />
  <meta property="og:site_name" content="{{ .Site.Params.sitename }}" />

  <meta name="description" content="{{ $description }}" />
  <meta itemprop="description" content="{{ $description }}" />
  <meta property="og:description" content="{{ $description }}" />
  <meta name="twitter:description" content="{{ $description }}" />

  <base href="{{ .Permalink }}" />
  <link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
  <meta name="url" content="{{ .Permalink }}" />
  <meta name="twitter:url" content="{{ .Permalink }}" />
  <meta property="og:url" content="{{ .Permalink }}" />

  <meta property="og:locale" content="{{ .Language.Lang }}" />
  <meta name="language" content="{{ .Language.LanguageName }}" />

  <meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />

  <meta name="robots" content="index,follow" />
  <meta name="googlebot" content="index,follow" />

  <meta name="twitter:site" content="{{ .Site.Params.twitter }}" />
  <meta name="twitter:creator" content="{{ .Site.Params.twitter }}" />

  <meta property="og:type" content="website" />
  <meta name="imagemode" content="force" />
  <meta name="coverage" content="Worldwide" />
  <meta name="distribution" content="Global" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <!-- end extra meta tags -->

  <!-- Bundled style lazy loading -->
  {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/myscss")) }}
  {{ $style := resources.Get "scss/site.scss" | resources.ToCSS $options }}
  <link rel="preload" href="{{ $style.Permalink }}" as="style" onload="this.onload=null;this.rel='stylesheet';this.media='screen';this.integrity='{{ $style.Data.Integrity }}'">
  <noscript><link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen"></noscript>

  <!-- Favicons -->
  <meta property="og:image" content="/img/favicons/favicon-32x32.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png" />
  <link rel="manifest" href="/img/favicons/site.webmanifest" />
  <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#0091da" />
  <link rel="shortcut icon" href="/img/favicons/favicon.ico" />
  <meta name="msapplication-TileColor" content="#0091da" />
  <meta name="msapplication-config" content="/img/favicons/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff" />
  {{ with .OutputFormats.Get "RSS" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{- end }}

  <!-- Bundled script lazy loading -->
  <script defer src="{{ "js/main.js" | relURL }}" type="text/javascript"></script>
</head>

<body>
  {{ partial "base-header" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "base-getting-started" . }}
  {{ partial "base-footer" . }}
  {{ if .Site.Params.docs_search }}
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" media="screen"></noscript>
    <script defer type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
  {{ end }}
  <!-- Bundled script lazy loading -->
  <script defer src="{{ "js/main.js" | relURL }}" type="text/javascript"></script>
</body>

</html>
