{{ define "main" }}
<main id="main">
  <div class="hero subpage-hero">
    <div class="wrapper">
      <h1>Documentation</h1>
      <nav class="right-nav-small" id="right-nav">
        {{ partial "docs-right-bar.html" . }}
      </nav>
    </div>
  </div>

  <div class="wrapper docs clearfix">
    {{ partial "docs-sidebar.html" . }}
    <div class="docs-content {{ if not .Site.Params.docs_right_sidebar }}full{{ end }}">
      {{ .Content }}
    </div>
    <nav class="right-nav" id="right-nav">
      {{ partial "docs-right-bar.html" . }}
    </nav>
  </div>
</main>
{{ end }}
