.error__icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: bottom;
  background: #c7c9c8;
}

.error__icon > svg {
  position: relative;
  color: #ffffff;
  top: 1px;
  left: 2.5px;
  margin: auto;
}
