.ChartView__heading {
  display: flex;
}

.ChartView__readme-container {
  /* for col-8 class */
  width: 66.66%;
}

.ChartViewSidebar__section {
  /* hack to make h2 margin work... */
  padding-top: 0.1px;
}

.ChartViewSidebar__section > div {
  margin-left: 1em;
}
