.kubeapps-header {
  border-bottom: 2px solid #f1f1f1;
  background-color: white;
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}

.kubeapps-header h1 {
  margin: 0;
  margin-left: 0.6rem;
  padding-top: 0.2rem;
}
