.kubeapps-header {
  width: 100%;
  height: 4rem;
  padding: 0.6rem;
  border-bottom: 2px solid #f1f1f1;
  background-color: white;

  img {
    max-height: 3rem;
    margin: 0.2rem 0 0.2rem 0.6rem;
  }
  .kubeapps-header-content {
    width: 100%;
    .kubeapps-title-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        margin-left: 1rem;
        font-weight: 500;
        margin-top: 0;
      }
      .kubeapps-header-subtitle {
        margin-left: 1rem;
        img {
          max-height: 1rem;
          padding-right: 0.2rem;
          margin: 0;
          max-width: 30px;
        }
        span {
          color: var(--clr-p1-color, #666666);
          padding-top: 0.1rem;
        }
      }
    }
    .control-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      .header-button {
        margin-left: 0.5rem;
      }
    }
  }
}

.kubeapps-header h1 {
  margin: 0;
  margin-left: 0.6rem;
  padding-top: 0.2rem;
}

.header-version {
  &-label {
    color: var(--clr-h3-color, black);
    font-weight: 500;
    margin-right: 0.2rem;
    margin-right: 0.6rem;
  }
}
