.kubeapps-applist-header {
  width: 100%;
  padding: 0 0.6rem 0 0.6rem;
}

.header-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.applist-empty {
  text-align: center;
}
