.ServiceItem__url a {
  display: inline-block;
  color: #fff;
  border-radius: 16px;
  background-color: #1598cb;
}

.ServiceItem__not-url {
  display: inline-block;
  color: #fff;
  border-radius: 16px;
  background-color: #b3b3b3;
}
