.ChartInfo > a {
  display: block;
  width: 100%;
}

.ChartInfoUpdate {
  color: white;
  width: 100%;
  margin-bottom: 0.5em;
  text-align: center;
  padding: 0.25em 0;
  font-size: 14px;
  background: #008145;
}
