.ChartListItem {
  color: #1C2B39;
}

.ChartListItem__content {
}

.ChartListItem__content__title {
  margin: 0;
  width: 100%;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #1C2B39;
}

.ChartListItem__content__info {
  display: flex;
  justify-content: space-between;
}

.ChartListItem__content__info_repo {
  display: inline-block;
  color: #FFF;
  border-radius: 16px;
  background-color: #1C2B39;
}

.ChartListItem__content__info_other {
  display: inline-block;
  color: rgb(0, 0, 0);
  margin-left: 0.3em;
  border-radius: 16px;
  background-color: #1598CB;
}

.DELETED {
  background-color: #C5C5C5;
}

.FAILED {
  background-color: #CB1515;
}

.DEPLOYED {
  background-color: #15CB2D;
}

.ChartListItem__content__info_repo.stable {
  background-color: #1598CB;
}

.ChartListItem__content__info_repo.incubator {
  background-color: #F58220;
}
