.ChartListItem {
  color: #1c2b39;
}

.ChartListItem__content {
}

.ChartListItem__content__title {
  color: #1c2b39;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  margin: 0;
  width: 100%;
}

.ChartListItem__content__info {
  display: flex;
  justify-content: space-between;
}

.ChartListItem__content__info_repo {
  background-color: #1c2b39;
  border-radius: 16px;
  color: #fff;
  display: inline-block;
}

.ChartListItem__content__info_other {
  background-color: #1598cb;
  border-radius: 16px;
  margin-left: 0.3em;
  color: rgb(0, 0, 0);
  display: inline-block;
}

.DELETED {
  background-color: #c5c5c5;
}

.FAILED {
  background-color: #cb1515;
}

.DEPLOYED {
  background-color: #15cb2d;
}

.ChartListItem__content__info_repo.stable {
  background-color: #1598cb;
}

.ChartListItem__content__info_repo.incubator {
  background-color: #f58220;
}
