// Copyright 2022 the Kubeapps contributors.
// SPDX-License-Identifier: Apache-2.0

.breakable {
  word-break: break-word;
}

.table-control {
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 98%;
}


.table-button {
  margin-left: "-0.75em";
  margin-right: "-0.75em";
}
