.LoadingPlaceholder {
  height: 1em;
  background-color: #f1f1f1;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1em;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      rgba(255, 255, 255, 25%),
      rgba(0, 0, 0, 0)
    );
    transform: translateX(-30%);
    animation: loading 1.5s infinite;
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
