// Copyright 2020-2022 the Kubeapps contributors.
// SPDX-License-Identifier: Apache-2.0

.secret-datum-text {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.3rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.secret-datum-icon {
  border: none;
  background: transparent;
  cursor: pointer;

  cds-icon {
    --color: var(--cds-global-typography-link-color, #0072a3);

    &:hover {
      --color: var(--cds-global-typography-link-color-visited-hover, #9e57bc);
    }
  }

  &:focus {
    outline: none;
  }
}

.secret-datum-content {
  border-bottom: 1px solid var(--cds-alias-object-border-color, #b3b3b3) !important;
}
