.secret-datum-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 0.3rem;
}

.secret-datum-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  cds-icon {
    --color: var(--clr-link-color, #0072a3);
    &:hover {
      --color: var(--clr-link-active-color, #9e57bc);
    }
  }
  &:focus {
    outline: none;
  }
}

.secret-datum-content {
  border-bottom: 1px solid var(--clr-forms-border-color, #b3b3b3) !important;
}
