.SecretContainer {
  margin: 0;
  padding: 0;
  margin-left: 0.2em;
  background: inherit;
}

.SecretContent {
  margin: 0;
  min-width: 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding-left: 0.3em;
  padding-right: 0.3em;
  color: inherit;
}

.SecretType {
  overflow-wrap: break-word;
}
