.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  flex-direction: column;
}

.kubeapps-main-container {
  display: flex;
  flex: 1 1 auto;
  min-height: 1px;
  height: calc(100vh - 3rem);

  .content-area {
    flex: 1 1 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    padding: 0 0.6rem 0 0.6rem;
  }
}

.layout > main {
  flex: 1;
}

.filters-menu {
  padding-left: 1.2rem;
  h5 {
    text-transform: uppercase;
    font-size: small;
    font-weight: 500;
  }
  .filter-section {
    font-weight: 500;
    margin: 0.7rem 0 0.5rem 0;
  }
}

.section-not-found {
  display: grid;
  justify-content: center;
  margin-top: 1.8rem;
  // align-items: center;
  height: calc(100vh - 12rem);
  text-align: center;
  .section-description {
    text-align: left;
  }
  img {
    max-width: 400px;
  }
}

.terminal-wrapper {
  background: var(--clr-color-neutral-100);
  color: var(--clr-color-on-neutral-100);
  .terminal-code {
    padding: 0.6rem;
    white-space: pre-wrap;
    text-align: left;
  }
}

.application-readme {
  pre {
    margin: 0.625em 0;
    border-radius: 5px;
    overflow: auto;
    padding: 0.6rem;
    background: var(--clr-color-neutral-1000);
    color: var(--clr-color-on-neutral-1000);
  }

  blockquote {
    margin: 1em 0 1em 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f1f1f1;
    padding: 0.1em 1em;
    max-width: 100%;
  }

  blockquote:before,
  blockquote:after {
    background-image: none;
  }

  img {
    max-width: 100%;
  }
}

.after-readme-button {
  padding: 1.2rem 0.6rem 1.2rem 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.deployment-form {
  &-tabs {
    margin-bottom: 0.6rem;
    &-data {
      margin-top: 0.6rem;
      overflow-x: hidden;
    }
  }
  &-control-buttons {
    margin-bottom: 0.6rem;
    cds-button {
      margin-right: 0.6rem;
    }
  }
}

.appview-separator {
  border-bottom: 2px solid #f1f1f1;
  padding-bottom: 1.2rem;
}

.appview-first-row {
  display: flex;
  section {
    margin-right: 2rem;
  }
}

.section-title {
  font-weight: 600;
}
