.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  flex-direction: column;
}

.kubeapps-main-container {
  display: flex;
  flex: 1 1 auto;
  min-height: 1px;
  height: calc(100vh - 3rem);

  .content-area {
    flex: 1 1 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    padding: 0 0.6rem 0 0.6rem;
  }
}

.layout > main {
  flex: 1;
}
