.color-icon-info {
  cds-icon {
    --color: var(--clr-alert-info-icon-color, #0072a3);
  }
}

.color-icon-success {
  cds-icon {
    --color: var(--clr-alert-success-icon-color, #3c8500);
  }
}

.color-icon-warning {
  cds-icon {
    --color: var(--clr-alert-warning-icon-color, #666666);
  }
}

.color-icon-danger {
  cds-icon {
    --color: var(--clr-alert-danger-icon-color, #c21d00);
  }
}

.center {
  display: grid;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.flex-v-center {
  display: flex;
  align-items: center;
}

.notification-icon {
  cds-icon {
    --color: hsl(48, 95%, 48%);
    width: 7px;
    margin-left: 3px;
  }
}

.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  flex-direction: column;
}

.kubeapps-main-container {
  display: flex;
  flex: 1 1 auto;
  min-height: 1px;
  height: calc(100vh - 3rem);

  .content-area {
    flex: 1 1 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    padding: 0 0.6rem 0 0.6rem;
  }
}

.layout > main {
  flex: 1;
}

.deployment-form {
  &-tabs {
    margin-bottom: 0.6rem;
    &-data {
      margin-top: 0.6rem;
      overflow-x: hidden;
    }
  }
  &-control-buttons {
    margin-bottom: 0.6rem;
    cds-button {
      margin-right: 0.6rem;
    }
  }
}

.filters-menu {
  padding-left: 1.2rem;
  h5 {
    text-transform: uppercase;
    font-size: small;
    font-weight: 500;
    cds-button {
      margin-top: -10px;
      padding-top: 10px;
      outline: 0;
    }
  }
  .filter-section {
    font-weight: 500;
    margin: 0.7rem 0 0.5rem 0;
  }
}

.section-not-found {
  display: grid;
  justify-content: center;
  margin-top: 1.8rem;
  // align-items: center;
  height: calc(100vh - 12rem);
  text-align: center;
  .section-description {
    text-align: left;
  }
  img {
    max-width: 400px;
  }
}

.terminal-wrapper {
  background: var(--clr-color-neutral-100);
  color: var(--clr-color-on-neutral-100);
  .terminal-code {
    padding: 0.6rem;
    white-space: pre-wrap;
    text-align: left;
    overflow-x: scroll;
  }
}

.application-readme {
  pre {
    margin: 0.625em 0;
    border-radius: 5px;
    overflow: auto;
    padding: 0.6rem;
    background: var(--clr-color-neutral-1000);
    color: var(--clr-color-on-neutral-1000);
  }

  ul {
    margin-top: 0.6rem;
    li {
      p {
        display: inline;
      }
    }
  }

  blockquote {
    margin: 1em 0 1em 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f1f1f1;
    padding: 0.1em 1em;
    max-width: 100%;
    p:first-child {
      margin-top: 0.6rem;
    }
    p:last-child {
      margin-bottom: 0.6rem;
    }
  }

  blockquote:before,
  blockquote:after {
    background-image: none;
  }

  img {
    max-width: 100%;
  }
}

.after-readme-button {
  padding: 1.2rem 0.6rem 1.2rem 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.appview-separator {
  border-bottom: 2px solid #f1f1f1;
  padding-bottom: 1.2rem;
}

.appview-first-row {
  display: flex;
  section {
    margin-right: 2rem;
  }
}

.section-title {
  font-weight: 600;
}

.filter-summary {
  padding: 1.2rem 0 0 1.2rem;
  cds-icon {
    cursor: pointer;
  }
}

.margin-b-sm {
  margin-bottom: 0.3rem;
}

.margin-t-sm {
  margin-top: 0.3rem;
}

.clr-control-container {
  width: 100%;
  margin-top: 0.3rem;
  .clr-input-wrapper {
    max-width: 100%;
    .clr-input {
      width: 100%;
    }
  }
  textarea {
    width: 100%;
  }
}

// TODO(andresmgot): workaround to avoid styling issue for a disabled CdsButton
// https://github.com/vmware/clarity/issues/5315
// We need to apply the target classes manually
.flat-btn[disabled] {
  --cds-token-color-neutral-200: transparent;
  --border-width: 0rem;
}
