.color-icon-info {
  cds-icon {
    --color: var(--cds-alias-status-info, #0072a3);
  }
}

.color-icon-success {
  cds-icon {
    --color: var(--cds-alias-status-success, #3c8500);
  }
}

.color-icon-warning {
  cds-icon {
    --color: var(--cds-alias-status-warning, #666666);
  }
}

.color-icon-danger {
  cds-icon {
    --color: var(--cds-alias-status-danger, #c21d00);
  }
}

.center {
  display: grid;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.flex-h-center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.flex-v-center {
  display: flex;
  align-items: center;
}

.notification-icon {
  cds-icon {
    --color: var(--cds-alias-status-warning, #efc006);
    width: 7px;
    margin-left: 3px;
  }
}

.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  flex-direction: column;
}

.kubeapps-main-container {
  display: flex;
  flex: 1 1 auto;
  min-height: 1px;
  height: calc(100vh - 3rem);

  .content-area {
    flex: 1 1 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    padding: 0 0.6rem 0 0.6rem;
  }
}

.layout > main {
  flex: 1;
}

.deployment-form {
  &-tabs {
    margin-bottom: 0.6rem;
    &-data {
      margin-top: 0.6rem;
      overflow-x: hidden;
    }
  }
  &-control-buttons {
    margin-bottom: 0.6rem;
    cds-button {
      margin-right: 0.6rem;
    }
  }
}

.filters-menu {
  padding-left: 1.2rem;
  h5 {
    text-transform: uppercase;
    font-size: small;
    font-weight: 500;
    cds-button {
      margin-top: -10px;
      padding-top: 10px;
      outline: 0;
    }
  }
  .filter-section {
    font-weight: 500;
    margin: 0.7rem 0 0.5rem 0;
  }
}

.section-not-found {
  display: grid;
  justify-content: center;
  margin-top: 1.8rem;
  height: calc(100vh - 12rem);
  text-align: center;
  .section-description {
    text-align: left;
  }
  img {
    max-width: 400px;
  }
}

.terminal-wrapper {
  background-color: var(--cds-global-typography-color-400, #333);
  color: var(--cds-global-typography-color-100, #fff);
  .terminal-code {
    padding: 0.6rem;
    white-space: pre-wrap;
    text-align: left;
    overflow-x: scroll;
  }
}

.application-readme {
  pre {
    margin: 0.625em 0;
    border-radius: 5px;
    overflow: auto;
    padding: 0.6rem;
    background-color: var(--cds-global-typography-color-400, #333);
    color: var(--cds-global-typography-color-100, #fff);
  }

  ul {
    margin-top: 0.6rem;
    li {
      p {
        display: inline;
      }
    }
  }

  blockquote {
    margin: 1em 0 1em 0;
    border-radius: 5px;
    border: 1px solid var(--cds-global-typography-color-200, #e8e8e8);
    background-color: var(--cds-global-typography-color-100, #fff);
    padding: 0.1em 1em;
    max-width: 100%;
    p:first-child {
      margin-top: 0.6rem;
    }
    p:last-child {
      margin-bottom: 0.6rem;
    }
  }

  blockquote:before,
  blockquote:after {
    background-image: none;
  }

  img {
    max-width: 100%;
  }
}

.after-readme-button {
  padding: 1.2rem 0.6rem 1.2rem 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.appview-separator {
  border-bottom: 2px solid var(--cds-alias-object-border-color, #f1f1f1);
  padding-bottom: 1.2rem;
}

.appview-first-row {
  display: flex;
  section {
    margin-right: 2rem;
  }
}

.section-title {
  font-weight: 600;
}

.filter-summary {
  padding: 1.2rem 0 0 1.2rem;
  cds-icon {
    cursor: pointer;
  }
}

.margin-b-sm {
  margin-bottom: 0.3rem;
}

.margin-t-sm {
  margin-top: 0.3rem;
}

.margin-t-md {
  margin-top: 0.6rem;
}

.margin-t-lg {
  margin-top: 0.9rem;
}

.margin-t-xl {
  margin-top: 1.2rem;
}

.margin-t-xxl {
  margin-top: 1.9rem;
}

.clr-control-container {
  width: 100%;
  margin-top: 0.3rem;
  .clr-input-wrapper {
    max-width: 100%;
    .clr-input {
      width: 100%;
    }
  }
  textarea {
    width: 100%;
  }
}

// TODO(andresmgot): workaround to avoid styling issue for a disabled CdsButton
// https://github.com/vmware/clarity/issues/5315
// We need to apply the target classes manually
.flat-btn[disabled] {
  --cds-token-color-neutral-200: transparent;
  --border-width: 0rem;
}
