@import url("https://fonts.googleapis.com/css?family=Hind");
@import url("https://d1d5nb8vlsbujg.cloudfront.net/bitnami-ui/3.0.0-alpha-17/bitnami.ui.min.css");
@import url("https://d1d5nb8vlsbujg.cloudfront.net/bitnami-ui/3.0.0-alpha-17/bitnami.ui.components.min.css");

body {
  margin: 0;
  padding: 0;
}

.container-fluid > .row > div {
  min-width: 0;
}
