@import url("https://d1d5nb8vlsbujg.cloudfront.net/bitnami-ui/2.2.0/bitnami.ui.min.css");
@import url("https://d1d5nb8vlsbujg.cloudfront.net/bitnami-ui/2.2.0/bitnami.ui.components.min.css");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
