.deployment-form {
  &-tabs {
    margin-bottom: 0.6rem;
    &-data {
      margin-top: 0.6rem;
      overflow-x: hidden;
    }
  }
  &-control-buttons {
    margin-bottom: 0.6rem;
    cds-button {
      margin-right: 0.6rem;
    }
  }
}
