# Copyright 2022-2024 the Kubeapps contributors.
# SPDX-License-Identifier: Apache-2.0

---
name: "GKE e2e Tests"
on:
  workflow_call:
    inputs:
      CHARTMUSEUM_VERSION:
        type: string
      DEBUG_MODE:
        type: boolean
        required: false
        default: false
      GKE_VERSION:
        type: string
      GKE_CLUSTER:
        type: string
      GKE_PROJECT:
        type: string
      GKE_RELEASE_CHANNEL:
        type: string
      GKE_ZONE:
        type: string
      HELM_VERSION_MIN:
        type: string
      HELM_VERSION_STABLE:
        type: string
      IMG_DEV_TAG:
        type: string
      IMG_MODIFIER:
        type: string
      IMG_PREFIX:
        type: string
      KAPP_CONTROLLER_VERSION:
        type: string
      FLUX_VERSION:
        type: string
      KUBECTL_VERSION:
        type: string
      OLM_VERSION:
        type: string
      TEST_TIMEOUT_MINUTES:
        type: number
        required: false
        default: 6
      TEST_LATEST_RELEASE:
        type: boolean
        required: false
        default: false
      USE_MULTICLUSTER_OIDC_ENV:
        type: boolean
        required: false
        default: false
      ALLOW_GKE_VERSION_FALLBACK:
        type: boolean
        required: false
        default: true
    secrets:
      GKE_ADMIN:
        required: true
      GCLOUD_KEY:
        required: true

jobs:
  e2e_tests:
    runs-on: ubuntu-latest
    env:
      CHARTMUSEUM_VERSION: ${{ inputs.CHARTMUSEUM_VERSION }}
      DEBUG_MODE: ${{ inputs.DEBUG_MODE }}
      GCLOUD_KEY: ${{ secrets.GCLOUD_KEY }}
      GKE_ADMIN: ${{ secrets.GKE_ADMIN }}
      GKE_VERSION: ${{ inputs.GKE_VERSION }}
      GKE_CLUSTER: ${{ inputs.GKE_CLUSTER }}
      GKE_PROJECT: ${{ inputs.GKE_PROJECT }}
      GKE_RELEASE_CHANNEL: ${{ inputs.GKE_RELEASE_CHANNEL }}
      GKE_ZONE: ${{ inputs.GKE_ZONE }}
      HELM_VERSION_MIN: ${{ inputs.HELM_VERSION_MIN }}
      HELM_VERSION_STABLE: ${{ inputs.HELM_VERSION_STABLE }}
      IMG_DEV_TAG: ${{ inputs.IMG_DEV_TAG }}
      IMG_MODIFIER: ${{ inputs.IMG_MODIFIER }}
      IMG_PREFIX: ${{ inputs.IMG_PREFIX }}
      KAPP_CONTROLLER_VERSION: ${{ inputs.KAPP_CONTROLLER_VERSION }}
      FLUX_VERSION: ${{ inputs.FLUX_VERSION }}
      KUBECTL_VERSION: ${{ inputs.KUBECTL_VERSION }}
      OLM_VERSION: ${{ inputs.OLM_VERSION }}
      TEST_LATEST_RELEASE: ${{ inputs.TEST_LATEST_RELEASE }}
      TEST_TIMEOUT_MINUTES: ${{ inputs.TEST_TIMEOUT_MINUTES }}
      USE_MULTICLUSTER_OIDC_ENV: ${{ inputs.USE_MULTICLUSTER_OIDC_ENV }}
      ALLOW_GKE_VERSION_FALLBACK: ${{ inputs.ALLOW_GKE_VERSION_FALLBACK }}
    steps:
      - uses: actions/checkout@v4
      - run: |
          set -euo pipefail
          source ./script/lib/libcitools.sh
          installGCloudSDK
          configureGCloud "${GKE_PROJECT}" "${GCLOUD_KEY}"
          installKubectl "${KUBECTL_VERSION}"
          installHelm "${HELM_VERSION_MIN}"
          installHelm "${HELM_VERSION_STABLE}" helm-stable
          exportEscapedGKEClusterName "${GKE_CLUSTER}" "${GKE_RELEASE_CHANNEL}" "${GITHUB_REF_NAME}" "${TEST_LATEST_RELEASE}"
      - name: Start GKE environment
        run: |
          set -euo pipefail
          ./script/start-gke-env.sh "${ESCAPED_GKE_CLUSTER}" "${GKE_ZONE}" "${GKE_VERSION}" "${GKE_ADMIN}" "${GKE_RELEASE_CHANNEL}" "${ALLOW_GKE_VERSION_FALLBACK}"
      - # TODO(castelblanque) Unify shared resources with kubeapps-local-dev-users-rbac.yaml that only applies to Kind clusters
        name: Apply customizations to GKE cluster
        run: |
          kubectl create namespace kubeapps-user-namespace
          ./script/install-nginx.sh
      - name: "Run e2e tests script"
        env:
          TESTS_GROUP: "all"
        run: ./script/run_e2e_tests.sh
      - name: 'Upload Artifacts'
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: gke_${{ inputs.GKE_RELEASE_CHANNEL }}_e2e_tests_reports
          path: integration/reports
      - name: "Delete GKE cluster"
        if: always()
        run: |
          set -euo pipefail
          source ./script/lib/libcitools.sh
          deleteGKECluster "${GKE_ZONE}" "${ESCAPED_GKE_CLUSTER}"
