# Copyright 2022 the Kubeapps contributors
# SPDX-License-Identifier: Apache-2.0

name: Release Pipeline

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

concurrency:
  group: ${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  main:
    uses: ./.github/workflows/kubeapps-general.yaml
    secrets: inherit
    with:
      run_gke_tests: true