# Copyright 2022-2024 the Kubeapps contributors.
# SPDX-License-Identifier: Apache-2.0

---
on:
  workflow_call:
    inputs:
      golang_version:
        type: string
        required: false
        default: "1.22"

jobs:
  yaml-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - id: yaml-lint
        uses: ibiqlik/action-yamllint@v3
        with:
          config_file: .yamllint.yml
      - run: echo ${{ steps.yaml-lint.outputs.logfile }}
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: yamllint-logfile
          path: ${{ steps.yaml-lint.outputs.logfile }}

  golang-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.golang_version }}
      - uses: actions/checkout@v4
      - uses: golangci/golangci-lint-action@v4
        with:
          version: latest
          args: --timeout=10m

  license-headers-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.golang_version }}
      - uses: actions/checkout@v4
      - name: Check license Headers
        uses: apache/skywalking-eyes/header@v0.6.0
